$screens: sm md lg xl;
$displays: block "inline-block" inline flex "inline-flex" table "table-caption" "table-cell" "table-column" "table-column-group" "table-footer-group" "table-header-group" "table-row-group" "table-row" "flow-root" "grid" "inline-grid" hidden;

@each $display in $displays {
    .#{$display} {
         display: #{$display};
    }
}

@each $screen in $screens {
    @media(min-width: var(--screen-#{$screen})) {
        @each $display in $displays {
            .#{$screen}#{'\\'}:#{$display} {
                display: #{$display};
            }
        }
        
    }
}